{% extends 'hw/base.html' %}
{% block content %}
    <h1>About this page</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsum quam qui sequi sit cupiditate possimus distinctio tempore. Quae necessitatibus facere odit dolore consequatur veniam tenetur error dolor neque quod.

    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sunt natus illum fugit aspernatur nulla harum commodi ad perferendis, facere dignissimos aliquid tempora odit cum sequi in aut, vel quae?</p>
{% endblock %}