<!-- food_rush/templates/food_rush -->
 
 {% load static %}
 <html>
  <head>
    <title>Food Rush</title>
    <!-- add the css link here -->
    <link rel="stylesheet" href="{% static 'food-rush.css' %}">
  </head>

  <body>
    <header>
      <h1 id="title">Food Rush</h1>
      <!-- navigation goes here -->
       <ul>
        <li>
          <a href="{% url 'show_restaurants' %}">Show all restaurants</a>
        </li>
        {% if request.user.is_authenticated %}
        <a class="active"><form method="post" action="{% url 'food_rush_logout' %}">
          {% csrf_token %}
          <button type="submit" >Logout</button>
          <input type="hidden" name="next" value="{% url 'food_rush_logout'  %}">
      </form>
        </a>
        {% else %}
        <!-- URLs for users that are NOT logged in -->
         <li><a href="{% url 'create_customer' %}">Create an account</a></li>
         <li><a href="{% url 'food_rush_login' %}">Login</a></li>
         {% endif %}
       </ul>
    </header>

    {%block content %}
    {% endblock %}

  </body>
 </html>