<!-- food_rush/login.html 
 html form to login in to the food_rush app-->
{% extends 'food_rush/base.html' %}
{% block content %}

 <h2>Login to Food Rush!</h2>
 <form action="{% url 'food_rush_login' %}" method="POST">
   {% csrf_token %}
   {{form}}
   <input type="submit" value="Login">

   
   
   
   <input type="hidden" name="next" value="{% url 'show_restaurants'  %}">
   
 </form>

 <hr>
 
 <h2>Don't have an account?<a href="{% url 'create_customer' %}"> <br>Create an account!</h2></a>

{% endblock %}