<!-- food_rush/templates/food_rush/order_detail.html
 page that displays the order  -->

{% extends 'food_rush/base.html' %}
{% load tz %}
{% load static %}

{% block content %}
  <h2>Order #{{ order.pk }} confirmed !</h2>

  <p>
    <strong>Placed:</strong>
    {{ order.order_date|localtime|date:"Y-m-d H:i" }}
  </p>

  

  <p>
    <strong>ETA:</strong>
    {{ order.eta|localtime|date:"H:i" }}

    
  </p>

  <hr>

  <h3>From:{{ order.restaurant.name }}</h3>
  <h3>To: {{order.customer}}</h3>
  <p>Deliver to: {{ order.customer.address }}</p>

  <table>
    <thead>
      <tr><th>Item</th><th>Qty</th><th>Unit&nbsp;($)</th><th>Subtotal&nbsp;($)</th></tr>
    </thead>
    <tbody>
      {% for sel in order.selections.all %}
        <tr>
          <td>{{ sel.item.name }}</td>
          <td>{{ sel.quantity }}</td>
          <td>{{ sel.price_at_order }}</td>
          <td>{{ sel.line_total }}</td>
        </tr>
        
      {% endfor %}
      <tr><td colspan="3" style="text-align:right"><strong>Total:</strong></td>
          <td><strong>{{ total }}</strong></td>
      </tr>
    </tbody>
  </table>

  <a href="{% url 'show_restaurants' %}">Back to restaurants</a>
{% endblock %}


