<!-- food_rush/templates/food_rush/show_restaurant.html
 html page to show an individual restaurant -->

{% extends 'food_rush/base.html' %}

{% block content %}
<h2>{{restaurant.name}}</h2>
<ul>
  {% for f in foods %}
  <li>
  <form method="post" action="{% url 'cart_add' %}">
    {{f.name}} - ${{f.price}} <br>
    <i>{{f.description}}</i>
    <hr>
    {% csrf_token %}
    <input type="hidden" name="food_id" value="{{ f.pk }}">
    <input type="number" name="qty" value="1" min="1">
    <button>Add to cart</button>
  </form>
  </li>
  {%  endfor %}

</ul>
<a href="{% url 'cart_view' %}" class="button">View cart</a>

{% endblock %}