<!-- food_rush/templates/food_rush/show_all_restaurants.html
    HTML pages that shows a list of all availible restaurants -->

{% extends 'food_rush/base.html' %}
{% load static %}

{% block content %}
<h2>All restaurants availible</h2>

<div>
  {% for restaurant in restaurants %}
    <restaurant>
      
      <a href="{% url 'show_restaurant' restaurant.pk %}"><img src="{{restaurant.profile_photo.url}}" alt="" width="300px" height="150px" ></a>
      <h3>{{ restaurant.name }}</h3>
    </restaurant>
  {% endfor %}
</div>
{% endblock %}