{% load static %}

<html>
  <head>
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static 'styles-fb.css' %}">
  </head>

  

  <body>
    <header>
      <h1>Mini Facebook <br>
        {% if request.user.is_authenticated %}
        Logged in as: {{request.user}}
        {% else %}
        
        {% endif %}
      </h1>
      <div class="topnav">
        <a class='active' href="{% url 'show_all' %}">Show All Profiles</a>
        {% if request.user.is_authenticated %}
        <!-- URLS for logged in users only -->
        <a class="active"><form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" >Logout</button>
          <input type="hidden" name="next" value="{% url 'logout'  %}">
      </form>
        </a>
        {% else %}
        <!-- URLS for not logged in users -->
            <a class="active" href="{% url 'create_profile' %}">Create A Profile</a>
            <a class="active" href="{% url 'mini_fb_login' %}">Login</a>
        {% endif %}

        
      
      </div>
    </header>
    <br><br>

    {% block content %}

    {% endblock %}


  </body>
</html>