{% load static %}

<html>
  <head>
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static 'styles-fb.css' %}">
  </head>

  

  <body>
    <header>
      <h1>Mini Facebook</h1>
      <div class="topnav">
            <a class="active" href="{% url 'create_profile' %}">Create A Profile</a>
            <a class='active' href="{% url 'show_all' %}">Show All Profiles</a>
      
      </div>
    </header>
    <br><br>

    {% block content %}

    {% endblock %}


  </body>
</html>