{% extends 'mini_fb/base.html' %}

{% block content %}

<table>
  <tr>
    <th>Profile Picture</th>
    <th>Name</th>
    <th>Hometown</th>
    <th>How to contact</th>
  </tr>
<tr>
  <td><img class="pfp" src="{{profile.profile_image_url}}" alt="" width="300" height="300"></td>
  <td><p>{{profile.first_name}} {{profile.last_name}}</p></td>
  <td><p>{{profile.city}}</p></td>
  <td><p>{{profile.email}}</p></td>
</tr>
</table>

<div>
<h2>{{profile.first_name}}'s Status <a href="{% url 'create_status' profile.pk %}">New Status Message</a></h3><hr>

{% for status_message in profile.get_status_messages %}
<div class="statusm">
<p class="msg"><b><i>{{status_message.message}}</i> - {{status_message.timestamp}}</b></p>
</div>
{% endfor %}
<hr>
</div>


{% endblock %}