{% extends 'mini_fb/base.html' %}

{% block content %}
<header>
  <nav>
    <h2><a href="{% url 'create_status' profile.pk %}">New Status Message</a></h2>
    <h2><a href="{% url 'update_profile' profile.pk %}">Update Profile</a></h2>
  </nav>
</header>
<table>
  <tr>
    <th>Profile Picture</th>
    <th>Name</th>
    <th>Hometown</th>
    <th>How to contact</th>
  </tr>
<tr>
  <td><img class="pfp" src="{{profile.profile_image_url}}" alt="" width="300" height="300"></td>
  <td><p>{{profile.first_name}} {{profile.last_name}}</p></td>
  <td><p>{{profile.city}}</p></td>
  <td><p>{{profile.email}}</p></td>
</tr>
</table>

<div>
<h2>{{profile.first_name}}'s Status </h3><hr>

{% for status_message in profile.get_status_messages %}
<div class="statusm">
  
<p class="msg"><b><i>{{status_message.message}}</i> - {{status_message.timestamp}}</b></p>
<button><a href="{% url 'delete_status' status_message.pk %}">Delete</a></button>
<button><a href="{% url 'update_status_message' status_message.pk %}">Update</a></button>
{% for img in status_message.get_images %}
<img src="{{img.image.image_file.url}}" alt="{{img.image.url}}">
{% endfor %}
</div>
{% endfor %}
<hr>
</div>

<h2>{{profile.first_name}}'s Friends</h2>

<div style="display: flex; flex-wrap: wrap; gap: 20px;">
  {% for profile in profile.get_friends %}
    <div style="text-align: center; width: 150px;">
      <img src="{{ profile.profile_image_url }}" alt="" width="150px" height="150px" style="object-fit: cover; border-radius: 10px;">
      <p><b><a href="{% url 'show_profile' profile.pk %}">{{ profile.first_name }} {{ profile.last_name }}</a></b></p>
      
    </div>
  {% endfor %}
</div>



{% endblock %}